<h1 mat-dialog-title>Friends</h1>
<div mat-dialog-content>
	<p>Click on a friend to remove them</p>
	<mat-action-list *ngFor="let friend of friends">
		<button mat-list-item (click)="removeFriend(friend)">
			{{ friend.displayName }}
		</button>
	</mat-action-list>
</div>
<div mat-dialog-actions>
	<button mat-raised-button color="warn" (click)="dialogRef.close()">
		Close
	</button>
</div>
