@import "../../../styles.scss";

.message-card {
	flex: 0 1 auto;
	margin-bottom: 1rem;
	width: 50%;
	margin-right: auto;
	margin-left: 0;
	background: mat-color($chatpack-accent);

	&.me {
		background: mat-color($chatpack-primary) !important;
		margin-right: 0;
		margin-left: auto;
	}
}
