<h1 mat-dialog-title>Add friend?</h1>
<div mat-dialog-content>
	<p>Do you want to add {{ data.displayName }} as your friend?</p>
</div>
<div mat-dialog-actions class="dialog-buttons">
	<button mat-button (click)="decline()">Decide later</button>
	<button mat-button (click)="accept()" cdkFocusInitial>Yes</button>
	<button mat-button color="warn" (click)="remove()">
		Remove friend request
	</button>
</div>
