.mat-dialog-content {
	display: flex;
	justify-content: center;
	flex-direction: column;

	img {
		width: 256px;
		height: 256px;
	}
}

.mat-dialog-actions {
	display: flex;
	place-content: flex-end;
}
