<h1 mat-dialog-title>Info</h1>
<div mat-dialog-content>
	<img src="assets/chatpack_logo.png" /><br />
	Chatpack v1.0
</div>
<div mat-dialog-actions>
	<button mat-raised-button (click)="closeDialog()">Close</button>
</div>
