@import "../../../styles.scss";

.loading {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(10, 10, 10, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-component {
	margin: 0 auto;
	max-width: 460px;
}

#splash-screen {
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 1s 1s ease;

	&.active {
		opacity: 0;
		img {
			transform: translate(500%, -500%) rotate(180deg) scale(0);
		}
	}

	img {
		width: 25%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 2s ease-in-out;
		cursor: pointer;
	}
}
