<mat-card class="login-component" *ngIf="!showSplash">
	<ngx-auth-firebaseui
		[providers]="[providers.Google]"
		[guestEnabled]="false"
	></ngx-auth-firebaseui>
	<br />
	<mat-expansion-panel [disabled]="showLogin">
		<mat-expansion-panel-header>User Settings</mat-expansion-panel-header>
		<ngx-auth-firebaseui-user [canLogout]="false"></ngx-auth-firebaseui-user>
	</mat-expansion-panel>
</mat-card>

<div id="splash-screen" *ngIf="showSplash">
	<img src="assets/chatpack_logo.svg" (click)="flyAway()" />
</div>
