<div class="page-container">
	<mat-toolbar color="primary">
		<a
			routerLink="/"
			mat-icon-button
			class="example-icon"
			aria-label="Example icon-button with menu icon"
		>
			<mat-icon>home</mat-icon>
		</a>
		<span>Chatpack</span>
		<span class="spacer"></span>
		<button mat-icon-button [mat-menu-trigger-for]="notifications">
			<mat-icon
				[matBadgeHidden]="friendRequests.length == 0"
				[matBadge]="friendRequests.length"
				matBadgeColor="warn"
				>group</mat-icon
			>
		</button>
		<mat-menu #notifications>
			<mat-list>
				<h3 matSubheader>Friend requests</h3>
				<button
					mat-menu-item
					(click)="showFriendDialog(request)"
					*ngFor="let request of friendRequests"
				>
					{{ request.displayName }} wants to be your friend.
				</button>
				<mat-divider></mat-divider>
				<button mat-menu-item (click)="addFriend()">Add friend</button>
				<button mat-menu-item (click)="showFriendsList()">Show friends</button>
			</mat-list>
		</mat-menu>
		<div *ngIf="auth.user | async as user">
			<button mat-button [matMenuTriggerFor]="userMenu">
				{{ user?.displayName }}
			</button>
			<mat-menu #userMenu="matMenu">
				<button mat-menu-item (click)="showAccount()">
					<span>Account</span>
				</button>
				<button mat-menu-item (click)="logout()"><span>Logout</span></button>
				<mat-divider> </mat-divider>
				<button mat-menu-item (click)="showInfo()"><span>Info</span></button>
			</mat-menu>
		</div>
	</mat-toolbar>
	<router-outlet></router-outlet>
</div>
