.chat-container {
	width: 80%;
	height: 80vh;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
}

.message-input {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	display: flex;
	justify-content: center;
	padding: 0;

	.mat-form-field {
		width: 70%;
		padding-top: 20px;
	}

	.mat-fab {
		position: absolute;
		right: -25px;
		bottom: 80%;
	}
}

.message-container {
	height: calc(80vh - 110px);
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;

	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.emoji-button {
	margin: auto 10px !important;
}

::ng-deep .emoji-picker {
	max-width: 500px;
}

textarea {
	resize: vertical;
	max-height: 200px;
}
