<mat-card class="chat-container mat-elevation-z8">
	<mat-card-title-group>
		<mat-card-title>{{ (chat$ | async)?.name }}</mat-card-title>
	</mat-card-title-group>

	<div class="message-container" id="message-container">
		<div>
			<app-message
				*ngFor="let message of messages"
				[message]="message"
				[color]="colorMap.get(message.fromUser)"
			>
			</app-message>
		</div>
	</div>
	<mat-card class="message-input mat-elevation-z12">
		<button class="emoji-button" mat-icon-button [mat-menu-trigger-for]="emoji">
			<mat-icon>mood</mat-icon>
		</button>
		<mat-menu width="300px" #emoji class="emoji-picker">
			<emoji-mart
				title="Pick your emoji"
				emoji="point_up"
				(emojiClick)="addEmoji($event)"
				(click)="$event.stopPropagation()"
			></emoji-mart>
		</mat-menu>
		<mat-form-field appearance="outline">
			<mat-label>Message</mat-label>
			<textarea
				matInput
				placeholder="Type a message"
				name="message"
				autocomplete="chrome-off"
				[formControl]="message"
				(keyup.control.enter)="sendMessage()"
			></textarea>
		</mat-form-field>
		<button mat-fab (click)="sendMessage()">
			<mat-icon>send</mat-icon>
		</button>
	</mat-card>
</mat-card>
