.chat-list-container {
	width: 80%;
	height: 80vh;
	margin: 1rem auto;

	.mat-card-title {
		font-size: 2rem;
	}

	.chat-container {
		height: 95%;
		overflow-y: scroll;

		.edit-chat-button {
			position: absolute;
			right: 20px;
		}

		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

.mat-divider-horizontal {
	position: relative !important;
}

.mat-fab {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.mat-list-item {
	height: auto;
	padding: 10px;
}

.chat-container {
	display: flex;
	flex-direction: column;
	.chat-name {
		font-weight: 800;
	}
	.chat-last-message {
		.last-message-name {
		}
	}
}
