<mat-card class="chat-list-container">
	<mat-card-title>Chats</mat-card-title>
	<mat-action-list class="chat-container">
		<ng-container *ngFor="let chat of chats$ | async">
			<button mat-list-item [routerLink]="['chat', chat.id]">
				<div
					class="chat-container"
					[matBadgeHidden]="chat.readCount == 0"
					[matBadge]="chat.readCount"
					matBadgePosition="before"
					matBadgeOverlap="false"
					matBadgeColor="primary"
				>
					<div class="chat-name">
						<h2>
							{{ chat.name }}
						</h2>
					</div>
					<div class="chat-last-message" *ngIf="chat.latestMessage">
						<span class="last-message-name"
							>{{ chat.latestMessage?.fromUserName }}:</span
						>
						{{ chat.latestMessage?.content }}
					</div>
				</div>
				<button
					mat-icon-button
					class="edit-chat-button"
					(click)="$event.stopPropagation()"
					[matMenuTriggerFor]="editChatMenu"
				>
					<mat-icon>menu</mat-icon>
				</button>
				<mat-menu #editChatMenu>
					<button mat-menu-item (click)="editChat(chat)">Edit</button>
					<button mat-menu-item (click)="removeChat(chat)">
						<span style="color: #ff1f1f">Remove</span>
					</button>
				</mat-menu>
			</button>
			<mat-divider></mat-divider>
		</ng-container>
	</mat-action-list>
	<button mat-fab (click)="addChat()"><mat-icon>add</mat-icon></button>
</mat-card>
