<h1 mat-dialog-title>New Chat</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input
			type="text"
			placeholder="Chatname"
			matInput
			[formControl]="chatName"
		/>
	</mat-form-field>
	<form class="example-form" [formGroup]="myForm" (submit)="addUserToList()">
		<mat-form-field class="example-full-width">
			<input
				type="text"
				placeholder="Select user"
				aria-label="Number"
				matInput
				[formControl]="userInput"
				[matAutocomplete]="auto"
				[errorStateMatcher]="matcher"
			/>
			<mat-error>Invalid email</mat-error>
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
				<mat-option
					*ngFor="let option of filteredOptions | async"
					[value]="option"
				>
					{{ option.email }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<button
			mat-raised-button
			color="primary"
			type="submit"
			[disabled]="matcher.isErrorState(userInput)"
		>
			Add
		</button>
	</form>
	<mat-expansion-panel [expanded]="true">
		<mat-expansion-panel-header>Users</mat-expansion-panel-header>
		<mat-action-list>
			<ng-container *ngFor="let user of users">
				<button mat-list-item (click)="removeUserFromList(user)">
					{{ user.displayName }}
				</button>
			</ng-container>
		</mat-action-list>
	</mat-expansion-panel>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="dialog-buttons">
	<button mat-raised-button (click)="dialogRef.close()">Cancel</button>
	<button
		mat-raised-button
		color="primary"
		(click)="isEdit ? updateChat() : addChat()"
	>
		Done
	</button>
</div>
