<h1 mat-dialog-title>Add friend</h1>
<div mat-dialog-content>
	<p>Start typing an email address and then select one from the dropdown</p>
</div>
<div mat-dialog-actions class="dialog-buttons">
	<form class="example-form" [formGroup]="myForm" (submit)="addFriend()">
		<mat-form-field class="example-full-width">
			<input
				type="text"
				placeholder="Pick one"
				aria-label="Number"
				matInput
				[formControl]="myControl"
				[matAutocomplete]="auto"
				[errorStateMatcher]="matcher"
			/>
			<mat-error>Invalid email</mat-error>
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
				<mat-option
					*ngFor="let option of filteredOptions | async"
					[value]="option"
				>
					{{ option.email }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<button
			mat-raised-button
			color="primary"
			type="submit"
			[disabled]="matcher.isErrorState(myControl)"
		>
			Add
		</button>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-raised-button color="warn" (click)="dialogRef.close()">
		Close
	</button>
</div>
